body, html {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', serif;
  font-size: 14px;
  background-color: #DBD4E5;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #757DDA;
  color: 	#1B29CA;
  padding: 15px;
  /*width: 100%;*/
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

/*#header-bar {
  background-color:
}*/
/*
#three-bars {
  font-size: 40px;
}*/

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #757DDA;
  width: 100%;
  border-radius: 0px;
}

.navbar ul li {
  color: Black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  text-align: center;
  width: 100%;
}

li a {
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: purple;
}

.loadingScreen {
  text-align: center;
  margin: 0 auto;
}

.loadingCircle {
  margin: 0 auto;
}

.logIn {
  text-align: center;
}
.register {
  text-align: center;
  text-decoration: none;
}

.centerButons {
  text-align: center;
}

#headerLogo {
  margin-top: 10px;
  float: right;
  font-size: 2em;
  text-decoration: none;
  color: 	#1B29CA;
  font-family: 'Permanent Marker', cursive;
}

.noDecoration {
  text-decoration: none;
}

.timePicker {
  float: right;
  display: flex;
}

.timePickerClock {
  display: inline-flex;
}

table {
  /*width: 50%;*/
}

th, td {
  padding: 15px;
}

.tripsButtons {
  /*size: .25em;*/
  min-height: 20px;
  min-width: 50px;
  font-size: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
table{
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
}

md-table-container {
  height: 100%;
  width: 100%;
}

#topRow {
  padding-top: 10px;
  padding-bottom: 10px;
}

#bottomRow {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.md-table td.md-cell {
  font-size: 18px;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding-right: 24px;
}

/*#myTimePicker {
  display: inline;
  width: 40% auto;
}

#myDatePicker {
  width: 40% auto;
}*/

tbody tr .dateCell {
  padding-right: 10px;
}

.username{
  font-size: 2em;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}
