<div class="container">
  <div id="new-trip">
    <form class="new-trip-form" ng-submit="ntc.submitNewTrip(ntc.newTrip)">
      <label>Origin</label>
      <input type="text" ng-model="ntc.newTrip.origin" placeholder="address or city, state">
      <label>Destination</label>
      <input type="text" ng-model="ntc.newTrip.destination" placeholder="address or city, state">
      <label>Time of Departure</label>
      <input type="date" ng-model="ntc.newTrip.departure.date">
      <input type="time" ng-model="ntc.newTrip.departure.time">
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
