<!-- <div>
  <table>
    <thead>
      <th>Time</th>
      <th>Location</th>
      <th>Temp</th>
      <th>Feels Like</th>
      <th>Conditions</th>
      <th>Humidity</th>
    </thead>
    <tbody>
      <tr ng-repeat="waypoint in vtc.trip.weather">
        <td>{{ vtc.trip.times[$index].hours }}:{{ vtc.trip.times[$index].minutes }}</td>
        <td>{{ waypoint.weatherData.location.name }}</td>
        <td>{{ waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].feelslike_f }}°</td>
        <td>{{ waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].temp_f }}°</td>
        <td><img ng-src="https:{{waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].condition.icon}}"
           alt="{{waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].condition.text}}">
         </td>
        <td>{{ waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].humidity }}%</td>
      </tr>
    </tbody>
  </table>
  <md-button class="md-raised" ng-click="vtc.userService.saveTrip(vtc.trip)">Save trip</md-button>
</div> -->

<div ng-if="!vtc.trip.weather">
  <h1>Either make a trip or select a saved trip</h1>
</div>

<div ng-if="vtc.trip.weather">
  <md-table-container ng-hide="uc.tripService.calculatingResults">
    <table md-table ng-model="myTrips_table">
      <thead md-head>
        <tr md-row>
          <th md-column>Time</th>
          <th md-column>Location</th>
          <th md-column>Temp</th>
          <th md-column>Conditions</th>
        </tr>
      </thead>
      <tbody md-body >
        <tr>
          <td id="topRow" md-cell colspan="4">{{ vtc.trip.route.originAddress }}</td>
        </tr>
        <tr ng-repeat="waypoint in vtc.trip.weather">
          <td md-cell>{{ vtc.trip.times[$index].hours }}:{{ vtc.trip.times[$index].minutes }}</td>
          <td md-cell>{{ waypoint.weatherData.location.name }}</td>
          <td md-cell>{{ waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].temp_f }}°</td>
          <td md-cell><img ng-src="https:{{waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].condition.icon}}"
             alt="{{waypoint.weatherData.forecast.forecastday[vtc.trip.times[$index].daysUntilDeparture].hour[vtc.trip.times[$index].hours].condition.text}}"></td>
        </tr>
        <tr>
          <td id="bottomRow" md-cell colspan="4">{{ vtc.trip.route.destinationAddress }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <div ng-show="vtc.userObject.userName">
    <md-button ng-hide="vtc.trip.saved" class="md-raised" ng-click="vtc.userService.saveTrip(vtc.trip)">Save trip</md-button>
  </div>
</div>
